@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Nunito:wght@700&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-primary: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Nunito", sans-serif;

$color-primary: #1e254fdc;
$color-secondary: #31b9f4;
$color-base: #faf9f4;
$color-yellow: #fbf9d9;


* {
    margin: 0;
    padding: 0;
    background-color: $color-base;
    font-family: $font-primary;
    color: $color-primary;
    text-align: center;
}
