@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-primary: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Nunito", sans-serif;

$color-primary: #33375e;
$color-secondary: #33bbf5;
$color-white: #fcfbfa;
$color-yellow: #f5f3d5;


* {
    background-color: $color-white;
    font-family: $font-primary;
}

