@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #fcfbfa;
  font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #33375e;
  text-align: center;
}