@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap");
* {
  font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
}