@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-primary: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Nunito", sans-serif;

$color-primary: #33375e;
$color-secondary: #33bbf5;
$color-white: #fcfbfa;
$color-yellow: #f5f3d5;

header {
    nav {
        h1 {
            font-family: $font-logo;
            font-size: 35px;
            font-weight: 300;
            color: $color-primary;
            margin: auto 20px;
        }

        a button {
            background-color: #fcfbfa;
            color: $color-primary;
            height: 35px;
            width: 75px
        }
    }
    
    p {
        font-family: $font-secondary;
        color: $color-secondary;
    }
}

a {
    text-decoration: none;
    margin: auto 20px;

    button {
        background-color: $color-primary;
        color: $color-white;
        font-weight: 500;
        border: 1px solid $color-primary;
        border-radius: 5px;
    }
}