@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-primary: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Nunito", sans-serif;

$color-primary: #272854e6;
$color-secondary: #33bbf5;
$color-base: #faf9f4;
$color-yellow: #f5f3d5;

header {
    nav {
        img {
            height: 75px;
            margin: auto 10px;
            margin-left: 20px;
        }

        h1 {
            font-family: $font-logo;
            font-size: 70px;
            font-weight: 300;
            color: $color-primary;
            margin: auto 0;
        }

        a button {
            background-color: $color-base;
            color: $color-primary;
            height: 55px;
            width: 120px
        }
    }
    
    p {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 33px;
        margin: 25px auto;
    }
}

a {
    text-decoration: none;
    margin: auto 20px;

    button {
        background-color: $color-primary;
        color: $color-base;
        font-size: 20px;
        font-weight: 600;
        border: 1.5px solid $color-primary;
        border-radius: 5px;
        width: 55%;
        height: 55px;
        margin: 40px 0;
    }
}

#device-mockup {
    width: 60%;
    margin: 0
}

.section {
    margin: 25px auto;
}

#p1 {
    font-size: 28px;
    font-weight: 500;
    margin: 40px auto;
}

#p2 {
    font-size: 25px;
    font-weight: 500;
    color: $color-secondary;
}

#p3 {
    font-size: 19px;
    font-weight: 100;
    margin: 40px auto;
}

#p4 {
    font-size: 30px;
    font-weight: 500;
    margin: 40px auto;
}