@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap');

$font-logo: "Boogaloo", sans-serif;
$font-primary: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Nunito", sans-serif;

$color-primary: #33375e;
$color-secondary: #33bbf5;
$color-white: #fcfbfa;
$color-yellow: #f5f3d5;

header {
    nav {
        img {
            height: 75px;
            margin: auto 10px;
            margin-left: 20px;
        }

        h1 {
            font-family: $font-logo;
            font-size: 70px;
            font-weight: 300;
            color: $color-primary;
            margin: auto 0;
        }

        a button {
            background-color: #fcfbfa;
            color: $color-primary;
            height: 55px;
            width: 120px
        }
    }
    
    p {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 33px;
        margin: 25px auto;
    }
}

a {
    text-decoration: none;
    margin: auto 20px;

    button {
        background-color: $color-primary;
        color: $color-white;
        font-size: 20px;
        font-weight: 600;
        border: 1.5px solid $color-primary;
        border-radius: 5px;
    }
}

#device-mockup {
    width: 60%;
    margin: 0
}
