header {
    nav {
        img {
            height: 75px;
            margin: auto 10px;
            margin-left: 20px;
        }

        h1 {
            font-family: $font-logo;
            font-size: 70px;
            font-weight: 300;
            color: $color-primary;
            margin: auto 0;
        }

        a button {
            background-color: $color-base;
            color: $color-primary;
            height: 58px;
            width: 120px;
            font-size: 22px;
            font-weight: 700;
        }
        
        
    }
    
    p {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 33px;
        margin: 25px auto;
    }
}

a {
    text-decoration: none;
    margin: auto 20px;

    button {
        background-color: $color-primary;
        color: $color-base;
        font-size: 20px;
        font-weight: 600;
        border: 1.5px solid $color-primary;
        border-radius: 5px;
        width: 50%;
        height: 57px;
        margin: 40px 0;
    }
}

#device-mockup {
    width: 60%;
    margin: 0
}