@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap");
header nav h1 {
  font-family: "Boogaloo", sans-serif;
  font-size: 35px;
  font-weight: 300;
  color: #33375e;
  margin: auto 20px;
}
header nav a button {
  background-color: #fcfbfa;
  color: #33375e;
  height: 35px;
  width: 75px;
}
header p {
  font-family: "Nunito", sans-serif;
  color: #33bbf5;
}

a {
  text-decoration: none;
  margin: auto 20px;
}
a button {
  background-color: #33375e;
  color: #fcfbfa;
  font-weight: 500;
  border: 1px solid #33375e;
  border-radius: 5px;
}