* {
    max-width: 480px;
}

header {
    nav {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
        }
    }
}

.penguins-section {
    height: 125px;
    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
    flex-wrap: wrap;

    p {
        margin: auto;
        font-size: 21px;
        font-weight: 100;
        text-align: left;
    }

    img {
        margin: auto;
    }
}