* {
  max-width: 480px;
}

header nav {
  display: flex;
  justify-content: space-between;
}
header nav div {
  display: flex;
}

.penguins-section {
  height: 145px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.penguins-section p {
  font-size: 21px;
  font-weight: 100;
  text-align: left;
  margin: auto 0;
}