* {
    max-width: 480px;
}

header {
    nav {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
        }
    }
}

.penguins-section {
    height: 145px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
        font-size: 21px;
        font-weight: 100;
        text-align: left;
        margin: auto 0;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $color-yellow;
    
    a {
        background-color: $color-yellow;
        color: $color-primary;
    }
}