@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@400;500&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #faf9f4;
  font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #332969;
  text-align: center;
}

header nav img {
  height: 75px;
  margin: auto 10px;
  margin-left: 20px;
}
header nav h1 {
  font-family: "Boogaloo", sans-serif;
  font-size: 70px;
  font-weight: 300;
  color: #33375e;
  margin: auto 0;
}
header nav a button {
  background-color: #fcfbfa;
  color: #33375e;
  height: 55px;
  width: 120px;
}
header p {
  font-family: "Nunito", sans-serif;
  color: #33bbf5;
  font-size: 33px;
  margin: 25px auto;
}

a {
  text-decoration: none;
  margin: auto 20px;
}
a button {
  background-color: #33375e;
  color: #fcfbfa;
  font-size: 20px;
  font-weight: 600;
  border: 1.5px solid #33375e;
  border-radius: 5px;
  width: 55%;
  height: 55px;
}

#device-mockup {
  width: 60%;
  margin: 0;
}

.section {
  margin: 25px auto;
}

#p1 {
  font-size: 28px;
  font-weight: 600;
  margin: 40px auto;
}

#p2 {
  font-size: 25px;
  font-weight: 600;
  color: #33bbf5;
}

#p3 {
  font-size: 19px;
  font-weight: 100;
  margin: 40px auto;
}

#p4 {
  font-size: 30px;
  font-weight: 500;
  margin: 40px auto;
}

* {
  max-width: 480px;
}

header nav {
  display: flex;
  justify-content: space-between;
}
header nav div {
  display: flex;
}

.penguins-section {
  height: 125px;
  display: flex;
  justify-content: space-evenly;
  align-content: baseline;
  flex-wrap: wrap;
}
.penguins-section p {
  margin: auto;
  font-size: 21px;
  font-weight: 100;
  text-align: left;
}
.penguins-section img {
  margin: auto;
}