.portfolio {
    
    h3 {
        margin-top: 60px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .projects__box {
        margin-top: 20px;
        width: 325px;
        height: 265px;
        background-color: black;
    }

    .projects__description {
        margin: 10px 0;
        height: 50px;
        width: 325px;
        display: flex;
        justify-content: space-between;

        h4 {
            margin: auto 0px;
            font-size: 28px;
        }
    }


}

@media screen and (min-width:1080px) {
    .portfolio {
    
        h3 {
            margin: 30px 0;
        }
    
        .projects {
            margin-bottom: 60px;
            display: grid;
            justify-self: center;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    
        .projects__box {
            margin-top: 20px;
            width: 460px;
            height: 300px;
            background-color: black;
        }
    
        .projects__description {
            margin: 10px 0;
            height: 50px;
            width: 325px;
            display: flex;
            justify-content: space-between;
    
            h4 {
                margin: auto 0px;
                font-size: 28px;
            }
        }
    
    
    }
}