.portfolio {
    
    h3 {
        margin-top: 60px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .projects__box {
        margin-top: 20px;
        width: 320px;
        height: 265px;
        background-color: black;
    }

    .projects__description {
        margin: 10px 0;
        height: 50px;
        width: 325px;
        display: flex;
        justify-content: space-between;

        h4 {
            margin: auto 0px;
        }
    }


}