.portfolio {
    .projects__box {
        width: 320px;
        height: 265px;
        background-color: black;
    }

    .projects__description {
        height: 50px;
        width: 325px;
        display: flex;
        justify-content: space-between;

        h3 {
            margin: auto 0px;
        }
    }
}